.addition {
  display: flex;
  padding: 80px 10px 100px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #f6f6f6;
}

.addition__image {
  min-width: 250px;
}

.addition__description {
  display: flex;
  max-width: 380px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.5px;
}

.addition__title {
  max-width: 300px;
  width: 100%;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__subtitle {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  min-width: 350px;
  padding: 10px 15px;
  background: #f1cdb3;
  border-radius: 9px;
  transition: background 0.5s ease-in-out;
}

.addition__card:hover {
  background: #fddcc4;
}

.addition__card-number {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__note {
  font-family: 'Arial', sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: #B2B2B2;
}

@media (max-width: 768px) {
  .addition {
    flex-direction: column-reverse;
    gap: 60px;
  }
}

@media (max-width: 450px) {
  .addition {
    padding: 43px 10px;
    gap: 42px;
  }

  .addition__image {
    width: 86.67%;
  }

  .addition__description {
    gap: 19px;
  }

  .addition__title {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    max-width: 225px;
  }

  .addition__subtitle {
    line-height: 1.6;
    letter-spacing: 0;
    margin: 0 auto;
  }

  .addition__card {
    min-width: 280px;
    margin: 0 auto;
    padding: 12px 15px 10px;
  }

  .addition__card-number {
    font-size: 15px;
    line-height: 1.1;
  }

  .addition__note {
    text-align: justify;
    margin: 0 10px;
  }
}