.footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: url("../../assets/images/bg.png") center top/cover no-repeat;
  background: url("../../assets/images/noise_transparent@2x.png"),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 10%, #262425 70%), #211F20;
}

.footer__container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 40px 0;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.contact__bonds {
  display: flex;
  max-width: 302px;
  min-width: 295px;
  width: 100%;
  margin-top: 15px;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.contact__bonds:last-of-type {
  gap: 33px;
}

.contact__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.contact__details-icon {
  transition: transform 0.5s ease-in-out;
}

.contact__details-info {
  transition: color 0.5s ease-in-out;
}

.contact__details:hover .contact__details-icon {
  transform: scale(1.1);
}

.contact__details:hover .contact__details-info {
  color: #FFFFFF;
}

.contact__image {
  min-width: 270px;
  margin-left: 20px;
}

@media (max-width: 980px) {
  .footer__container {
    padding: 30px 64px 0;
  }

  .footer__contact {
    flex-wrap: wrap;
    gap: 65px 35px;
  }

  .contact__bonds {
    flex: 1;
    margin-top: 0;
  }

  .contact__image {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .footer__contact {
    justify-content: flex-start;
    column-gap: 43px;
  }
}

@media (max-width: 760px) {
  .footer__container {
    padding: 30px 30px 0;
  }

  .footer__contact {
    justify-content: space-between;
    gap: 40px 20px;
  }
}

@media (max-width: 670px) {
  .contact__bonds {
    min-width: auto;
  }

  .contact__title {
    font-size: 30px;
  }

  .contact__details {
    font-size: 18px;
  }
}

@media (max-width: 560px) {
  .contact__bonds {
    max-width: 100%;
    min-width: 300px;
  }

  .contact__title, 
  .contact__details {
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .footer__container {
    padding: 29px 10px 0;
  }

  .contact__bonds:last-of-type {
    gap: 42px;
  }

  .contact__title {
    max-width: 290px;
    margin: 0 auto;
    font-size: 25px;
  }

  .contact__details {
    letter-spacing: 0.12em;
  }

  .contact__image {
    min-width: 260px;
    max-height: 269px;
  }
}

@media (max-width: 320px) {
  .contact__bonds:last-of-type .contact__details {
    margin: 0;
    text-align: start;
  }
}